.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.app{
  display: flex;
}
.main-content {
  flex: 1;
  /* padding: 20px; */
  /* margin-left: 40px; */
  transition: margin-left 0.3s ease;
}

.sidebar + .main-content {
  margin-left: 40px;
}

.sidebar.open + .main-content {
  margin-left: 250px;
}
*{
  box-sizing: border-box;
}